<!DOCTYPE html>
<html lang="en" hidden>
<head>
	<title>SMART APP</title> 
	<style>
	input::-webkit-calendar-picker-indicator {
			opacity: 100;
		 }
	</style> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> 
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	
	  	   <!-- Application-level javascript-->
	<link rel="stylesheet" href="../../../src/css/SOFCSS.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel='stylesheet' type='text/css' href='../../css/example-smart-app.css'>
	<link rel='stylesheet' type='text/css' href='../../../lib/css/cerner-smart-embeddable-lib-1.0.0.min.css'>
	<link rel="stylesheet" href="../../../src/css/nv.d3.css">
	<link rel='stylesheet' type='text/css' href='../../css/tab.css'>

	<script src='../../js/example-smart-app.js'></script>
	<script src='../../js/d3.v3.min.js'></script>
	<script src='../../js/nv.d3.js'></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<script src='../../js/bootstrap_min.js'></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	
</head>
<body>
	

<header hidden id = "doctor-view-head">
	<div class="row">
		<div class="column" >
	    	<h4 style="margin-left:1.5em;"><strong><span id='lname'></span>, <span id='fname'></span></strong></h4>
			<h4 style="margin-left:1.5em;">LOC:USC-GI;200;Q </h4>
			<h4 style="margin-left:1.5em;">Observation[Admit Dt:8/3/2018 6:07..</h4>
	  	</div>
	  	<div class="column" >
			<h4><span>Age: </span><span id='age'></span></h4>
			<h4><strong>D.O.B: </strong><span id='birthdate'></span></h4>
			<h4><span id='pract_name'></span></h4>
		</div>
	  	<div class="column" >
		 	<h4><span >Sex: </span><span id='gender'></span></h4>
		  	<h4><span>MyUSC Chart:Invite Sent</span></h4>
			<h4>Blood Trans Acceptable to pt?Yes</h4>
	  	</div>
	  	<div class="column">
	        <h4>**Allergies**</h4>
		</div>
	</div>
</header>

<section hidden id = "doctor-view">
	<nav id="istopFrame">  
	<div class="icon-bar01">
		<span  style="margin-left:0.7em;" >Menu - All</span><em style=" font-size: 7px; left: 18em; margin-bottom:0.2em;" class="glyphicon glyphicon-triangle-bottom white"></em>
	</div>
	<table id="t01" class="table">
    
		<tbody>
			<tr>
				<td>Ambulatory Summary</td>
			</tr>
			<tr>
				<td>Inpatient Summaries</td>
			</tr>
			<tr>
				<td>Operative Summaries</td>
			</tr>
			<tr>
				<td>Demographics</td>
			</tr>
			<tr>
				<td>Results Review</td>
			</tr>
			<tr>
				<td>Allergies</td>
			</tr>
			<tr>
				<td>Orders</td>
			</tr>
			<tr id="protab">
				<td><strong>Order PRO</strong></td>
			</tr>
			<tr>
				<td>Medication List</td>
			</tr>
			<tr>
				<td>Reports/Documents</td>
			</tr>
			<tr>
				<td>MAR Summary</td>
			</tr>
			<tr>
				<td>Form Browser</td>
			</tr>
			<tr>
				<td>Pending Studies</td>
			</tr>
			<tr>
				<td>Problem And Diagnoses</td>
			</tr>
			<tr>
				<td>Immunizations</td>
			</tr>
			<tr>
				<td>Reference Text</td>
			</tr>
			<tr>
				<td>Patient Schedule</td>
			</tr>
			<tr>
				<td>Appointments</td>
			</tr>
			<tr>
				<td>Access Center and Pre-Arrival</td>
			</tr>

		</tbody>
	</table>
	</nav>
 
 	

	<div id="chartmodal" class="modal" style="width: 80%;margin-left: 10%">
		<div class="modal-content">
			<span id="chartclose"class="close">&times;</span>
			<div id="chart">
				<svg style="height: 600px;"></svg>
			</div>
		</div>
	</div>
	  
	<article id="docview-article" style="background-color: aliceblue;">
		<div class="icon-bar" hidden id="docview-article-div">
			<span>&nbsp; </span><em style="color:#407798" class="glyphicon glyphicon-chevron-left"></em><span>&nbsp;&nbsp; </span><em style="color:#407798" class="glyphicon glyphicon-chevron-right "></em>&nbsp;&nbsp; <em style=" font-size: 7px; margin-bottom:0.2em;" class="glyphicon glyphicon-triangle-bottom white"></em><span id="v1"></span>&nbsp;&nbsp; <em class="glyphicon glyphicon-home white"></em> <span style="margin-left:0.5em; font-color:#FFFFFF; font-size:20px;"> Order PRO</span><img border="0" style="margin-bottom:0.2em;margin-left:40em;" src="../../../src/images/pixel-full-screen.png" alt="Image for full screen"  />&nbsp;Fullscreen&nbsp;&nbsp;&nbsp;<em class="glyphicon glyphicon-print white"></em>&nbsp;  Print&nbsp; &nbsp; <em class="glyphicon glyphicon-refresh white"></em><span> &nbsp;2 minutes ago &nbsp; </span>
		</div>
	<div>
		<h3>Order a new PRO</h3>
		<!-- for creating combo-box with datalist.. -->
		<div style="position:relative;width:200px;height:25px;border:0;padding:0;margin:0;">
		    	<input id="selectinput" type="text" list="selectform" onkeyup="manage(this)" style="width: 260%;">
  				<datalist id="selectform">
    			<option value=""  disabled selected ></option>
				</datalist> 
			<button id="myBtn" class="button button3"  type="button" >Order</button>
		</div>
		<!-- End of creation combo-box with datalist.. -->

	    <br/><br/><br/>
		
		<!-- for error message and order sucessful message.. -->
		<div id="order_successful" style="color: green;margin-top: -19px;">
		</div>
		<div id="order_unsuccessful" style="color: red;margin-top: -19px;">
		</div>
	</div>
		<hr style="border-top-color: lightgrey;">
		
		<!-- for creating tab.. -->
		<div class="tabs">
			
			<ul class="tab-links"  style="padding-left: 0px;">
				<li class="active"><a href="#tab1">Completed PRO</a></li>
				<li><a href="#tab2">Pending PRO</a></li>
				<li><a href="#tab3">Recommended PRO</a></li>
			</ul>
			
			<div class="tab-content">
				<div id="tab1" class="tab active">
					<table id="t02">
					</table>
				</div>
		
				<div id="tab2" class="tab">
					<table id="pending_PRO">
					</table>	
				</div>
		
				<div id="tab3" class="tab">
					Recommended PRO
				</div>
			</div>
		</div>
		<!--End of tab creation div.. -->

		<div id="content">
		</div>  
	</article>
</section>

<section hidden id="patient-view" >
	
	<div class="container-fluid">
		<div class="row">
			<div id="pat-header" class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 " >
			</br>
			<P style="margin-left:1em; text-align: left; font-size: 28px;">Welcome <strong> <span id='firstname'></span> <span id='lastname'></span></strong>!</P></br></br>			
			</div>
		</div>	
		<div id="list">
				
		</div>		
	</div>

	<div hidden id="Ques" class="container-fluid">
		<div class="row"  style="text-align: left; padding-top: 20px; font-size: 14px;">
			<div id="header1"  class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			 <p style='margin-left:1em;'><strong>Questionnaire for <span id='pro-name'></span></strong></p>
				</br> </br>
			</div>
		</div>
						
		<div id="Content"  class="row" >
		</div>
	</div>
	
</section>
	<script src='../../../src/js/global.js'></script>
	<script src='../../../src/js/quetion_answer.js'></script>
    <!-- Required JS files to enable this page to embed within an MPage -->
    <script src='../../../src/js/polyfill.js'></script>
    <script src='../../../lib/js/cerner-smart-embeddable-lib-1.0.0.min.js'></script>

    <!-- FHIR Client JS Library -->
    <script src='../../../lib/js/fhir-client-v0.1.12.js'></script>

    <!-- Prevent session bleed caused by single threaded embedded browser and sessionStorage API -->
    <!-- https://github.com/cerner/fhir-client-cerner-additions -->
    <script src='../../../lib/js/fhir-client-cerner-additions-1.0.0.js'></script>

	<script src='../../../src/js/ajax_jquery.js'></script>
  	<script src='../../../src/js/jQuery.XDomainRequest.js'></script>
	<script src='../../../src/js/jquery.xdomainrequest.min.js'></script>
	<script>
	//When the user clicks on <span> (x), close the modal
	var btn = document.getElementById("myBtn");

	// Get the <span> element that closes the modal
	var span = document.getElementsByClassName("close")[0];
	var modal = document.getElementById('chartmodal');
	// When the user clicks on <span> (x), close the modal
	span.onclick = function() {
	  modal.style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
	  if (event.target == modal) {
	    modal.style.display = "none";
	  }
	}
	</script>
	<script>
		extractData().then(
		//Display Patient Demographics and Observations if extractData was success
		function(p) {
			drawVisualization(p);
		},
		//Display 'Failed to call FHIR Service' if extractData failed
		function() {
			$('#loading').hide();
			$('#errors').html('<p> Failed to call FHIR Service </p>');
		});
	</script>
	<script>
	function manage(selectinput) {
        var bt = document.getElementById('submitButton');
        if (selectinput.value != '') {
            bt.disabled = false;
        }
        else {
            bt.disabled = true;
        }
    }    
	</script>

	<!-- jquery for tab selction and animation -->
	<script>
	jQuery(document).ready(function() {
		jQuery('.tabs .tab-links a').on('click', function(e) {
			var currentAttrValue = jQuery(this).attr('href');

			// Show/Hide Tabs
			jQuery('.tabs ' + currentAttrValue).fadeIn(350).siblings().hide();

			// Change/remove current tab to active
			jQuery(this).parent('li').addClass('active').siblings().removeClass('active');

			e.preventDefault();
		});
	});
	</script>

</body>
</html>
