
.button {
	background-color: #0079BE; 
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 8px 2px;
	cursor: pointer;
}
				
.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 4px;width: 100px; }
.button4 {border-radius: 4px;}
.button5 {border-radius: 50%;}
		
select:required:invalid {
  color: gray;
}

option[value=""][disabled] {
  display: none;
}

option {
  color: black;
}

* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Style the header */
header {
    background: linear-gradient(to bottom, #2F99D5 0%, #1169A8 100%);
 
    text-align: left;
    font-size: 35px;
    color: white;
	
}

.icon-bar {
    width: 100%;
    height: 10%;
    background-color: #0C5273;
    color : #FFFFFF;
    font-size: 14px;
    overflow: auto;
}


.icon-bar01 {
	width: 100%;
	height: 10%;
	background-color: #1F3240;
	color : #FFFFFF;
	font-size: 20px;
	overflow: auto;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 20%;
    background: #ccc;
	height: 100%; /* Full height */
	overflow: auto;
	max-height: calc(100vh - 9rem);
    overflow-y: auto;
   
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}


article {
    float: left;
    width: 80%;
    background-color: #f1f1f1;
	overflow: auto;
	height: 100%; /* Full height */
	max-height: calc(100vh - 9rem);
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav, article {
    width: 100%;
    height: 100%;
    }
}


table#t01 {border-collapse: collapse; }

table#t01 th {
    background-color: #283B4A;
    color: white;
}

table#t01 tr {
    background-color: #48545D;
    color: white;
 
}

table#t01 #protab {
	background-color: #095071;
    color: white;
}

table#t02 {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table#t02 th {
    background-color: #939CA6;
	margin-left:0.5em;
}

table#t02 td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
	background-color: white;
	margin-left:0.5em;
}

#v1 {
    border-left: 1px solid black;
    height: 100%;
	margin-left:1em;
   
}


	/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
	text-align: left;
    
}


/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
	


.btn-submit {
	background-color: #0079BE; 
	border: none;
	color: white;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	margin: 8px 2px;
	cursor: pointer;
	width: 500px;
	height: 40px;
}

.button6 {border-radius: 4px;width: 200px; }





		@media screen and (min-width: 601px) {
			  #question {
				font-size: 24px;
			  }
			  #header1 {
				font-size: 24px;
			  }
			  .btn-submit {
			  width:500px;
			  }
			  
			  #tabhead {
				font-size: 24px;
			  }
			  #new {
				font-size: 24px;
			  }
			  .row{
			      font-size: 20px;
			  }
			  
			}

			@media screen and (max-width: 600px) {
			  #question {
				font-size: 16px;
			  }
			  #header1 {
				font-size: 16px;
			  }
			  .btn-submit {
			  width:300px;
			  }
			  
			  #tabhead {
				font-size: 16px;
			  }
			  
			  #new {
				font-size: 16px;
			  }
			  
			  .row{
			      font-size: 14px;
			  }
			}
		#header1
		{
		
		width: 100%;
       		height: 30px;
		
	
		
		text-align: left;
		text-decoration: none;
		
		}
		
		#Content{
        	width: 100%;
       		height: 400px;
		font-size: 20px;
		padding :40px;
		
		}
		
		#pat-header{
		width: 100%;
        height :100px;
		background: linear-gradient(to bottom, #2F99D5 0%, #1169A8 100%);
		color:white;
		}
		
		.btn-submit {
				background-color: #0079BE; 
				border: none;
				color: white;
				padding: 5px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 20px;
				margin: 8px 2px;
				cursor: pointer;
				
				height: 40px;
				}
				
		
			

			
				table#t03 {
					font-family: arial, sans-serif;
					border-collapse: collapse;
					width: 100%;
				}
				
				table#t03 th {
					background-color: #d3d3d3;
					margin-left:0.5em;
				}
				
				table#t03 td,th {
				width:50%;
					border: 1px solid #dddddd;
					text-align: left;
					padding: 8px;
					background-color: white;
					margin-left:0.5em;
				}		
				
	
