<nav>

  <table id="t01" class="table">

    <div class="icon-bar01">
      <span style="margin-left:0.7em;">Menu - All</span><i style=" font-size: 7px; left: 18em; margin-bottom:0.2em;"
        class="glyphicon glyphicon-triangle-bottom white"></i>
    </div>
    <tbody>
      <tr>
        <td>Ambulatory Summary</td>
      </tr>
      <tr>
        <td>Inpatient Summaries</td>
      </tr>
      <tr>
        <td>Operative Summaries</td>
      </tr>
      <tr>
        <td>Demographics</td>
      </tr>
      <tr>
        <td>Results Review</td>
      </tr>
      <tr>
        <td>Allergies</td>
      </tr>
      <tr>
        <td>Orders</td>
      </tr>
      <tr id="protab">
        <td><b>Order PRO</b></td>
      </tr>
      <tr>
        <td>Medication List</td>
      </tr>
      <tr>
        <td>Reports/Documents</td>
      </tr>
      <tr>
        <td>MAR Summary</td>
      </tr>
      <tr>
        <td>Form Browser</td>
      </tr>
      <tr>
        <td>Pending Studies</td>
      </tr>
      <tr>
        <td>Problem And Diagnoses</td>
      </tr>
      <tr>
        <td>Immunizations</td>
      </tr>
      <tr>
        <td>Reference Text</td>
      </tr>
      <tr>
        <td>Patient Schedule</td>
      </tr>
      <tr>
        <td>Appointments</td>
      </tr>
      <tr>
        <td>Access Center and Pre-Arrival</td>
      </tr>

    </tbody>
  </table>
</nav>

<article id="docview-article">
  <div class="icon-bar">
    <span>&nbsp; </span><i style="color:#407798" class="glyphicon glyphicon-chevron-left"></i><span>&nbsp;&nbsp; </span><i
      style="color:#407798" class="glyphicon glyphicon-chevron-right "></i>&nbsp;&nbsp; <i style=" font-size: 7px; margin-bottom:0.2em;"
      class="glyphicon glyphicon-triangle-bottom white"></i><span id="v1"></span>&nbsp;&nbsp; <i class="glyphicon glyphicon-home white"></i>
    <span style="margin-left:0.5em; font-color:#FFFFFF; font-size:20px;"> Order PRO</span><img border="0" style="margin-bottom:0.2em;margin-left:40em;"
      src="./src/images/pixel-full-screen.png" />&nbsp;Fullscreen&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-print white"></i>&nbsp;
    Print&nbsp; &nbsp; <i class="glyphicon glyphicon-refresh white"></i><span> &nbsp;2 minutes ago &nbsp; </span>
  </div>
  <h3 style="margin-left:0.5em;">Order a new PRO</h3>


  <div style="position:relative;width:200px;height:25px;border:0;padding:0;margin:0;">
    <select id="selectform" style="position:absolute;top:0px;left:0px;width:400px; height:25px;line-height:20px;margin-left:1em;padding:0;">
      <option value="" disabled selected>Please choose an instrument...</option>


    </select>
    </br>
    </br>
    <button class="button button3" style="margin-left:1em;" type="button" onclick="order_func();">Order</button>
  </div>
  </br>
  </br>
  </br>

  <h3 style="margin-left:0.5em;">Previous Orders</h3>

  <table id="t02">


  </table>

  </br>


  <h3 style="margin-left:0.5em;">Recommended PRO for <b> <span id='fname1'></span> <span id='lname1'></span></b></h3>
  <div id="content">
  </div>
</article>