<div class="container-fluid">
    <div class="row">
        <div id="pat-header" class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
            </br>
            <P style="margin-left:1em; text-align: left; font-size: 28px;">Welcome <b> <span id='firstname'></span>
                    <span id='lastname'></span></b>!</P></br></br>
        </div>
    </div>
    <div id="list">

    </div>
</div>

<div hidden id="Ques" class="container-fluid">
    <div class="row" style="text-align: left; padding-top: 20px; font-size: 14px;">
        <div id="header1" class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p style='margin-left:1em;'><b>Questionnaire for <span id='pro-name'></span></b></p>
            </br>
            </br>
        </div>
    </div>


    <div id="Content" class="row">
    </div>

</div>